.introdução-bg{
    background-color: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}

.introdução{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introdução-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.introdução img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.introdução h1{
    margin-bottom: 32px;
}

.introdução p{
    margin-bottom: 20px;
}


@media (max-width: 1200px){
    .introdução h1{
        font-size: 48px;

    }
}
@media (max-width: 800px){
    .introdução{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introdução-bg{
        background-color: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--cor-0);
    }

    .introdução-conteudo{
        padding-bottom: 0px;
    }

    .introdução h1{
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introdução img{
        height: 300px;
        width: 600px;
    }
}
